* {
  scroll-behavior: smooth;
}

.snapshot {
  width: 95%;
  text-align: center;
}

.snapshot>h4 {
  margin: 5px 10px;
  padding: 8px 10px;
  font-size: 15px;
  background: #333e50;
  border-radius: 5px;
  color: #fff;
  text-align: center;
}

.snapshot__container {
  display: flex;
  margin: 0px 0.5%;
  /* margin-right: 20px; */
  justify-content: space-between;
}

.psa__snapshot {
  justify-content: center;
  width: 32%;
  display: flex;
}

.cgc__snapshot {
  justify-content: center;
  width: 32%;
  display: flex;
}

.bgs__snapshot {
  justify-content: center;
  width: 32%;
  display: flex;
}

.snapshot__heading {
  text-align: center;
  color: #fff;
  width: 60px;
  padding: 10px 10px;
  font-size: smaller;
}

.snapshot_scroll_wrapper {
  justify-content: center;
  margin-top: 5px;
}

.snapshot__row {
  display: flex;
  /* width: 99%; */
  background-color: #333e50;
  border-radius: 5px;
  margin: 5px 0.5%;
  justify-content: space-between;
}

.snapshot__psa {
  justify-content: center;
  width: 32%;
  display: flex;
}

.snapshot__average {
  text-align: center;
  color: #339cf8;
  width: 60px;
  padding: 10px 10px;
  font-size: small;
}

.snapshot__minimum {
  text-align: center;
  color: #f32626;
  width: 60px;
  padding: 10px 10px;
  font-size: small;
}

.snapshot__median {
  text-align: center;
  color: #e9b950;
  width: 60px;
  padding: 10px 10px;
  font-size: small;
}

.snapshot__high {
  text-align: center;
  color: #8df13a;
  width: 60px;
  padding: 10px 10px;
  font-size: small;
}

.snapshot__showMore {
  margin: 5px 10px;
  padding: 8px 10px;
  font-size: 15px;
  background: #333e50;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  cursor: pointer;
}



.snapshot__showMore:hover {
  background: #50617e;
}

.media_mobile_snapshot_buttons {
  display: flex;
  /* min-width: 60%; */
  /* max-width: 60%; */
  justify-content: space-between;
  align-items: center;
  margin: 0px 5px;
}

.media_mobile_snapshot_all {
  overflow-x: hidden;
  scroll-behavior: smooth;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.media_mobile_snapshot_container {
  min-width: 95%;
  max-width: 95%;
  border: 1px solid #50617e;
  background-color: #333e5044;
  padding: 5px;
  border-radius: 10px;
  margin: 10px 5px;
  /* justify-content: center; */
  width: 90%;
  /* display: flex; */
  /* align-items: center; */
}

.media_mobile_snapshot {
  width: 98%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.media_mobile_snapshot_heading {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  color: #fff;
  min-width: 18%;
  max-width: 18%;
  padding: 10px 0;
  font-size: smaller;
}

.media_mobile_snapshot_scroll {
  overflow-y: scroll;
  min-height: 230px;
  max-height: 230px;
}

.media_mobile_snapshot_row_container {
  justify-content: center;
  margin-top: 5px;
}

.media_mobile_snapshot_row {
  min-height: 30px;
  max-height: 30px;
  display: flex;
  align-items: center;
  padding: 5px 0;
  background-color: #08131f;
  border-radius: 5px;
  margin: 3px;
  justify-content: space-around;
}


@media screen and (max-width: 960px) and (min-width : 550px) {


  .snapshot>h4{
    font-size: 1.75vw;
  }

  .media_mobile_snapshot_heading{
    font-size: 1.5vw;
  }

  .snapshot__heading {
    min-width: 15%;
    max-width: 15%;
    padding: 5px 5px;
    font-size: 1.5vw;
  }

  .snapshot__average {
    min-width: 15%;
    max-width: 15%;
    padding: 5px 5px;
    font-size: 1.5vw;
  }

  .snapshot__minimum {
    min-width: 15%;
    max-width: 15%;
    padding: 5px 5px;
    font-size: 1.5vw;
  }

  .snapshot__median {
    min-width: 15%;
    max-width: 15%;
    padding: 5px 5px;
    font-size: 1.5vw;
  }

  .snapshot__high {
    min-width: 15%;
    max-width: 15%;
    padding: 5px 5px;
    font-size: 1.5vw;
  }

}

@media screen and (max-width: 550px) {


  .snapshot__heading {
    min-width: 15%;
    max-width: 15%;
    padding: 5px 5px;
    font-size: 3vw;
  }

  .snapshot__average {
    min-width: 15%;
    max-width: 15%;
    padding: 5px 5px;
    font-size: 3vw;
  }

  .snapshot__minimum {
    min-width: 15%;
    max-width: 15%;
    padding: 5px 5px;
    font-size: 3vw;
  }

  .snapshot__median {
    min-width: 15%;
    max-width: 15%;
    padding: 5px 5px;
    font-size: 3vw;
  }

  .snapshot__high {
    min-width: 15%;
    max-width: 15%;
    padding: 5px 5px;
    font-size: 3vw;
  }

  .snapshot>h4 {
    font-size: 4vw;
  }

  .sc-jrQzAO sc-kDTinF drgkga iXwIWh{
    width: 28%;
  }

}