.newsletter-container {
  padding: 4rem 0 2rem 0;
  display: flex;
  position: relative;
  height: 180px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.63),
      rgba(0, 0, 0, 0.63)
    ),
    url("../../assets/images/banner.webp");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.newsletter-subscription {
  min-width: 95%;
  text-align: center;
  margin-bottom: 24px;
  padding: 24px 0;
  color: #fff;
}

.newsletter-subscription > p {
  font-size: 2rem;
}

.newsletter-subscription-heading {
  margin-bottom: 20px;
  /* font-size: 24px; */
}

.newsletter-subscription-text {
  margin-bottom: 24px;
  font-size: 20px;
}

.input-areas {
  width: 70%;
  margin-bottom: 24px;
}

.newsletter-input {
  padding: 8px 0px;
  border-radius: 2px;
  /* margin-right: 10px; */
  justify-content: center;
  text-align: center;
  color: rgba(165, 161, 161, 0.959);
  width: 100%;
  outline: none;
  border: none;
  font-size: 18px;
  margin-bottom: 20px;
  border: 1px solid rgba(165, 161, 161, 0.959);
}

.input-areas .btn {
  width: 200px;
  margin: 6px;
  /* width: 300px; */
  background-color: #080808e0;
  border: 1px solid #080808da;
  border-radius: 5px;
}
.input-areas .btn:hover {
  background-color: transparent;
  color: white;
}
.newsletter-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border: 1px solid rgba(0, 0, 0, 0.323);
  border-radius: 5px;
  background-color: rgba(68, 68, 68, 0.344);
  margin: 10px 10px;
  color: white;
  text-decoration: none;
  font-size: 15px;
  min-width: 15%;
  max-width: 15%;
}
.newsletter__icon{
  padding: 0 10px;
  font-size: 30px;
  min-width: 2%;
  max-width: 2%;
}
.newsletter__div{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;  
}

@media screen and (max-width:1000px) {
  .newsletter-btn{
    margin: 10px 12px;
    font-size: 12.5px;
    min-width: 18%;
    max-width: 18%;
  } 
  .newsletter-container{
  height: 140px;
  }
}

@media screen and (max-width:480px) {
  .newsletter-btn{
    margin: 10px 20px;
    font-size: 10px;
    min-width: 25%;
    max-width: 25%;
  }
  .newsletter-container{
    height: 100px;
    }
}